.tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.tag-list li {
  padding: 1rem;
  background: gray;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem -0.25rem rgba(0, 0, 0, 0.2);
}

.scroller {
  max-width: 1200px;
}

.scroller[data-animated='true'] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}
.scroller[data-animated='true'] .scroller_inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;

  &:hover {
    animation-play-state: paused;
  }
}
.scroller[data-direction='right'] {
  --_animation-direction: reverse;
}

.scroller_inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  svg {
    fill: gray !important;
    stroke: #000000;
  }
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

.left-scrollAnimate {
  animation: leftRight both ease-in-out;
  animation-timeline: view(70% 20%);
}
.right-scrollAnimate {
  animation: rightLeft both ease-in-out;
  animation-timeline: view(60% 20%);
}

@keyframes leftRight {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes rightLeft {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
