.section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  text-align: center;
  height: 100dvh;
  min-height: 500px;

  .heroImg {
    max-width: 200px;
  }

  span {
    display: flex;
    gap: 25px;
    justify-content: center;

    a {
      margin: 0;

      img {
        width: 30px;
      }
    }
  }

  a {
    width: fit-content;
    align-self: center;
  }

  .resumeButton {
    --font-color: #323232;
    --bg-color: #fff;
    --main-color: #323232;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 17px;
    font-weight: 600;
    color: var(--font-color);
    cursor: pointer;
  }

  .resumeButton:active {
    box-shadow: 0px 0px var(--main-color);
    transform: translate(3px, 3px);
  }
}

.colorModeContainer {
  position: relative;
}

.theme {
  --bg-color: #fff;
  --main-color: #323232;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: var(--bg-color);
  border-radius: 100%;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
}
.theme:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}

.colorMode {
  width: 25px;
}

.colorMode:hover {
  cursor: pointer;
}

/* .description {
  max-width: 24ch;
  align-self: center;
} */

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.socialLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

@media (width >= 800px) {
  .section-container {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;

    .heroImg {
      max-width: 350px;
      width: 350px;
    }
  }
}
