html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 300 11px/1.4 'Helvetica Neue', 'sans-serif';
  color: #444;
  --tw-bg-opacity: 1;
  background: rgb(24 24 27 / var(--tw-bg-opacity));
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(/_next/static/media/noise.51a05f55.png);
  background-size: 200px 200px;
  background-position: 0 0;
}
